*{
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(244, 246, 248);
    font-family: "inter", sans-serif;
}

#todo-app {
    background-color: white;
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 450px;
}

.app-title {
    font-size: 1.9rem;
    font-weight: 100;
}

.formStyle {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.todo-input {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid #b8b8b8;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.todo-input:focus {
    border-color: rgb(0, 255, 0);
    outline: none;
}

.add-button {
    background-color: rgb(187, 106, 7);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.add-button:hover {
    background-color: rgb(205, 134, 3);
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.delete-button {
    background-color: none;
    color: rgb(231, 228, 245);
    font-weight: 700;;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
}
.delete-button:hover {
    color: red;
}


#todo-list li div{
    display: flex;
    align-self: center;
    gap: 10px;
}


  .custom-checkbox {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .custom-checkbox::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .custom-checkbox,
  .custom-checkbox::after {
    transition: all 100ms ease-out;
  }

  .custom-checkbox::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .custom-checkbox input[type=checkbox] {
    cursor: default;
  }

  .custom-checkbox:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .custom-checkbox:checked {
    background-color: #6e79d6;
  }

  .custom-checkbox:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .custom-checkbox :focus:not(.focus-visible) {
    outline: 0;
  }

  .custom-checkbox:checked:hover {
    background-color: #535db3;
  }
